<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Chord Charts</title>
    <link href="/dist/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/dist/vendor/html5shiv.js"></script>
      <script src="/dist/vendor/respond/main.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="app"></div>
    <!-- <script src="/dist/vendor/react-with-addons.js"></script> -->
    <script src="/dist/vendor/jquery.min.js"></script>
    <script src="/dist/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script>
window.appconfig = {appconfig_json};
    </script>
    <script src="/dist/bundle.js"></script>
  </body>
</html>
